body {
    background: green;
    color: black;
    font-family: "Pacifico-Regular";
    color: 35px;
}

nav {
    text-align: center;
    background: green;
}

span , p {
    background: blueviolet;
}